# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual Environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Matplotlib
.matplotlib/

# Dataset (Large Files)
dataset/raw/
dataset/processed/

# Model Checkpoints
results/*.pth


# OS Files
.DS_Store
Thumbs.db